/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
/*font rules */
/* font-family: 'Montserrat', sans-serif;  */

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
   
}

.titulo{
    font-size: 3em;
    color: #5A5A5A;
    font-weight: bold;
    padding: .5em;
}
.crear{
    font-weight: 300;
    font-size: 1em;
    text-align: right;
    padding: 2em;
}

    

.card-title{
    padding-top: 2em;
}

.icons{
    color: red;
    border-style: solid 2px #000;
    text-align: right;
    border-top: 3px solid red;
    padding-top: 10px;
}

.svg-icons{
    border:none;
    background-color: transparent;
    padding: 0 10px;
}

.bmc-item:hover, .bmc-item:focus{
    background-color: #E3E3E3;
}